html, body {
    margin: 0;
    height: 100%;
    overflow: hidden;
}

#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0px;
}

.component{
    position: relative;
    border-style: solid;
    border-color: white;
    border-width: 0px 1000px 0px 1000px;
}

.image{
    position: relative;
    z-index: 0;
    height: 100vh;

}

.overlayDiv{
    position: absolute;
    height: 100vh;
    top: 0;
    display: flex;
}

.overlay {
    height: 100vh;
    z-index: -1;
    left: 0;
}

.text {
    position: absolute;
    height: 100vh;
    z-index: 1;
    left: 0;
}

.dots{
    position: absolute;
    height: 100vh;
    z-index: 1;
    left: 0;
}